<div id="footer">

  &COPY; 2011-{{ "now"|date("Y") }} {{'texts.footertexts'|trans({'%link_start%' : '<a href="'~path('my_terms')~'" target="_blank">', '%link_end%' : '</a>'})|raw}}

  <br><br>
  <div id="circleBlock">
    <!-- Circle.Am: DO NOT MODIFY THIS CODE: Start -->
    <script type="text/javascript">document.write(unescape("%3Cscript src='http://www.circle.am/service/circlecode.php?sid=3234&amp;bid=8' type='text/javascript'%3E%3C/script%3E"));</script>
    <noscript>
      <div>
         <a href='http://www.circle.am/?w=3234'>
           <img src='http://www.circle.am/service/?sid=3234&amp;bid=8' class="circle_logo" alt='Circle.Am: Rating and Statistics for Armenian Web Resources' />
         </a>
       </div>
    </noscript>
  </div>
  <!-- Circle.Am: End -->
  <script type="text/javascript">
	
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22925045-1']);
  _gaq.push(['_trackPageview']);
	
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
	
    </script>


