{# page #}
{% extends 'MYMainBundle:Main:layout.html.twig' %}


{%block main%}
	{% for id,page in info %}
    <div class="page">
      <h2 class="content-title-{{app.request.attributes.get('_locale')}}">{{page.title}}</h2>
      <div>
        {{page.content|raw}}
      </div>
    </div>
		{% endfor %}
{% endblock %}