{# MYMainBundle:Suggestion:show #}
{% extends 'MYMainBundle::leftColLayout.html.twig' %}

{#% block title %}{{'make_suggestion.title'|trans}} | mYerevan{% endblock %}
{% block description %}{{'make_suggestion.description'|trans}}{% endblock %}
{% block keywords %}{{'make_suggestion.keywords'|trans}}{% endblock %#}

{# main content #}
{% block rightContent %}
    <h2 class="confirmed" align="center">{{'suggestion_approve'|trans}}</h2>
{% endblock%}