{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% spaceless %}
        
<a href="{{ path('page_tree_down', {'page_id': object.id}) }}" title="{% trans %}Down{% endtrans %}">
  DOWN
</a>
      
    {% endspaceless %}
{% endblock %}