{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% spaceless %}
        
<a href="{{ path('page_tree_up', {'page_id': object.id}) }}" title="{% trans %}Up{% endtrans %}">
  UP
</a>
      
    {% endspaceless %}
{% endblock %}